.container-fluid {
    /* padding-top: 48px;
    margin-left: 40px;
    margin-right: 40px; */
    /* top: 48px;
    left: 50% */


    margin-top: 48px;
    margin-bottom: 20px;
    padding-top: 16px;
}